.colorful{
    Background-color: white !important;
    height: inherit !important;
    width: inherit !important;
}
.custom-container{
    position: flex;
    position: 0 0 0 0;
    padding: 0 0 0 0;
    margin: 25vh 0 0 0 ;
    width: 40%;
    height: 100%;

}
.center-container{
    padding: 12vh 0;
    
}
.lower-text{
    color: #212529;
}
h1{
    color: #212529;
}
