main {
  align-content: center;
  box-sizing: border-box;
  display: grid;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  min-height: 100vh;
  padding: 72px 0;
  text-align: center;
}
h1 {
  font-size: 45px;
}
h2 {
  margin-top: 1.5em;
}
p {
  font-size: 16px;
}
a {
  border-bottom: 1px solid white;
  color: #0076ff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  border-bottom: 1px solid #0076ff;
}
code,
pre {
  color: #d400ff;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.92em;
}
code:before,
code:after {
  content: '\`';
}
.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.nav {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
  background-color: white;
}
.nav-item{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: black;
  text-decoration: none;
}
.active {
  border-bottom: 1px solid blue;
}
.background {
  position: relative;
  display: grid;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 25vw 50vw 25vw;
  column-gap: 10px;
  justify-items: center;
}
.left-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: blue;
  left: 0;
}
.center-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: red;
}

.right-background {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 100vh;
    background-color: pink;
}
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
